<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %> 
        <section>
                <form  method="post" class="administrationform">
                        <fieldset>
                            <label for="name">skriv en name på dit kategorie</label>
                            <input type="text" name="name" value="<%= (typeof name != 'undefined')? name: '' %>">
                        </fieldset>
                        <fieldset>
                            <label for="description">beskrivsel</label>
                            <textarea name="description"><%= (typeof description != 'undefined')? description: '' %></textarea>    
                        </fieldset>
                        <button type="submit">oprate et kategorie</button>
                    </form>
                    <p>
                        <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
                    </p>
        </section>
    </div>
    <% include partials/footer.ejs %>