<% include partials/head.ejs %>
<div class="flex">
    <% include partials/menu.ejs %>  
         <main>
             <section>
                 <h1>velkomme til dit admin</h1>
             </section>
         </main>
    </div>
    <% include partials/footer.ejs %>