<% include partials/head.ejs %>
<div class="flex">
            <nav>
                <ul>
                    <li><a href="/dashboard">dashborad</a></li>
                    <li><a href="/products">products</a></li>
                    <li><a href="/categorie">categories</a></li>
                    <li><a href="/users">users</a></li>
                </ul>
            </nav>
         <main>
             <h1>velkomme til dit admin</h1>
            <!--  <section>
                    <table>
                        <caption>data</caption>
                        <thead>
                            <tr>
                                <th>Hans</th>
                                <th>Petersen</td>
                                <th>Roskildevej 215</th>
                                <th>4000 Roskilde</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hans</td>
                                <td>Petersen</td>
                                <td>Roskildevej 215</td>
                                <td>4000 Roskilde</td>
                                <td class="fas fa-edit icon"></td>
                                <td class="far fa-trash-alt icon"></td>
                            </tr>
                        </tbody>
                    </table>
                </section> -->
         </main>
    </div>
    <% include partials/footer.ejs %>