<% include partials/head.ejs %>
    <div class="flex">
            <nav>
                    <ul>
                        <li><a href="/dashboard">dashborad</a></li>
                        <li><a href="/products">products</a></li>
                        <li><a href="/categorie">categories</a></li>
                        <li><a href="/users">users</a></li>
                    </ul>
            </nav>
            <section>
                    <form  method="post" class="administrationform">
                            <fieldset>
                                    <label for="name">skriv en name på dit product</label>
                                    <input type="text" name="name" value="<%= categorie.name %>">
                            </fieldset>
                            <fieldset>
                                <label for="description">beskrivsel</label>
                                    <textarea name="description">
                                        <%= categorie.description %>
                                    </textarea>
                            </fieldset>
                            <button type="submit">opdater et product</button>
                    </form>
                        <p>
                            <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
                        </p>
            </section>
    </div>
    <% include partials/footer.ejs %>