<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %> 
            <section>
                        <a href="/categorie" class="button">tilbage til  categories</a>
                    <form  method="post" class="administrationform">
                            <fieldset>
                                    <label for="name">skriv en name på dit product</label>
                                    <input type="text" name="name" value="<%= categorie.name %>">
                            </fieldset>
                            <fieldset>
                                <label for="description">beskrivsel</label>
                                    <textarea name="description"><%= categorie.description %></textarea>
                            </fieldset>
                            <button type="submit">opdater et categorie</button>
                    </form>
                        <p>
                            <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
                        </p>
            </section>
    </div>
    <% include partials/footer.ejs %>