<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %>
                <section>
                    <h1>rediger <%= user.username %></h1>
                    <form  method="post"  class="administrationform">
                        <fieldset>
                                <label for="username">brugernavn</label>
                                <input type="text" name="username" value="<%= user.username %>">
                        </fieldset>
                        <fieldset>
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" value="<%= user.email %>">
                        </fieldset>
                        <button type="submit">gem</button>
                    </form>
    
                </section>
           
    </div>
  
    <% include partials/footer.ejs %>