<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %> 
            <main>
                    <section>
                            <table>
                                    <thead>
                                        <tr>
                                            <h1>bruger</h1>
                                            <th></th>
                                            <th>navn</th>
                                            <th>email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% users.forEach(user => { %>
                                        <tr>
                                            <td>
                                                <a href="/dashboardedituser/<%= user.id %>" class="fas fa-edit"></a>
                                                <a href="/dashboarddeleteuser/<%= user.id %>" class="fas fa-trash-alt"></a>
                                            </td>
                                            <td> 
                                                <%= user.username %>
                                            </td>
                                            <td>
                                                <%=  user.email %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                    </section>
            </main>
    </div>
    <% include partials/footer.ejs %>