<% include partials/head.ejs %>
    <div class="flex">
            <% include partials/menu.ejs %>
            <main>
                    <section>
                            <a href="/createusersroles" class="button">oprate et brugerroller</a>
                            <table>
                                    <thead>
                                        <tr>
                                            <h1>brugerroller</h1>
                                            <th></th>
                                            <th>navn</th>
                                            <th>level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% usersroles.forEach(usersrole => { %>
                                        <tr>
                                            <td>
                                                <a href="/editusersroles/<%= usersrole.id %>" class="fas fa-edit"></a>
                                                <a href="/deletusersroles/<%= usersrole.id %>" class="fas fa-trash-alt"></a>
                                            </td>
                                            <td> 
                                                <%= usersrole.name %>
                                            </td>
                                            <td>
                                                <%=  usersrole.level %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                    </section>
            </main>
    </div>
    <% include partials/footer.ejs %>