<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>
    <form  method="post">
        <fieldset>
            <label for="name">skriv en name på dit kategorie</label>
            <input type="text" name="name" value="<%= (typeof name != 'undefined')? name: '' %>">
        </fieldset>
        <fieldset>
            <label for="description">beskrivsel</label>
            <textarea name="description">
                <%= (typeof description != 'undefined')? description: '' %>
            </textarea>    
        </fieldset>
        <button type="submit">oprate et kategorie</button>
    </form>
    <p>
        <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
    </p>
</body>
</html>