<% include partials/header.ejs %>
    <form method="post">
        <fieldset>
            <label for="username">Brugernavn</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Adgangskode</label>
            <input type="password" name="password">
        </fieldset>
        <button type="submit">log in</button>
    </form>
    <p>
        <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
    </p>
    <% include partials/footer.ejs %>