<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>log in</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <label for="username">Brugernavn</label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label for="password">Adgangskode</label>
            <input type="password" name="password">
        </fieldset>
        <button type="submit">log in</button>
    </form>
</body>
</html>