<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>verdens best hjemme side</title>
    <link rel="stylesheet" href="/css/frotend.css">
</head>
<body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">hjem</a></li>
                    <li><a href="/products">produkter</a></li>
                    <li><a href="/soeg/">søg</a></li>
                    <%- isloggedin ? "<a href='/logout'>log ud</a>": "<a href='/login'>log in</a>" %>    
                </ul>
            </nav>
        </header>