<nav>
        <li><a class="fas fa-bars" id="burgermenu" href="#"></a></li>
    <ul>
        <li><a class="fas fa-times" id="closebtn" href="#"></a></li> 
        <li><a href="/dashboard">dashborad</a></li>
        <li><a href="/dashboardproducts">products</a></li>
        <li><a href="/images">images</a></li>
        <li><a href="/dashboardcategorie">categories</a></li>
        <li><a href="/dashboardusers">users</a></li>
        <li><a href="/userroles">userroles</a></li>
        <li><a href="/profile/<%= userId %>">profile</a></li>
        <li><a href="/logout">log ud</a></li>
    </ul>
</nav>